.panaButton, .panaButtonBlue, .panaButtonPink, .panaButtonYellow{
    display: inline-block;
    margin: 0 .5rem;
    font-size: var(--base-font-size);
    letter-spacing: 1px;
    padding:.5rem 1.5rem;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 2rem;
    border:2px solid black;
}

.panaButton:hover{
    cursor:pointer;
}
.panaButton:disabled{
    opacity: 0.5;
    filter: saturate(0.5);
}
.panaButton:disabled:hover{
    cursor:not-allowed;
}

.panaButtonBlue{
    background-color: var(--color-pana-blue);
    border-color: var(--color-pana-blue);
    background: linear-gradient(90deg, var(--color-pana-blue) 0%, var(--color-pana-blue) 100%);
}
.panaButtonPink{
    background-color: var(--color-pana-pink);
    border-color: var(--color-pana-pink);
    background: linear-gradient(90deg, var(--color-pana-pink) 0%, var(--color-pana-pink) 100%);
    background-size: 300% 300%;
}
.panaButtonYellow{
    background-color: var(--color-pana-yellow);
    border-color: var(--color-pana-yellow);
    background: linear-gradient(90deg, var(--color-pana-yellow) 0%, var(--color-pana-yellow) 100%);
}

.panaButtonAdmin{
    background-color: #FFF;
    border-radius: 5px;
    padding: 0 1rem;
    line-height: 1.75rem;;
    border: 2px solid black;
    margin: 0 0.25rem;
}
.panaButtonAdmin:hover{
    background-color: #777;
    color: white;
}

.panaButtonBlue:hover, .panaButtonPink:hover, .panaButtonYellow:hover{
    border-color: white;
}


@media only screen and (max-width: 600px) {
    .panaButton, .panaButtonBlue, .panaButtonPink, .panaButtonYellow{
        font-size: var(--mobile-font-size);
    }
}
