:root{
  --color-pana-blue: #4ab3ea;
  --color-pana-pink: #fc2070;
  --color-pana-yellow: #fab22c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Verdana", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.image-container {

  width: 100%;
  position: relative;

  .image {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
}

.burger-icon{
  font-size: 20px;
}

.burger-icon::before{
  content:"|||";
  display: inline-block;
  font-size: 20px;
  transform: rotate(90deg);
}
.burger-icon::after{
  content:"";
  display: inline-block;
  transform: translateX(-5px) rotate(90deg);
  transition: transform 1s ease-out;
}

.burger-icon.close::before{
  content:"|";
  display: inline-block;
  transform: translateX(5px) rotate(45deg);
  transition: transform 1s ease-out;
}
.burger-icon.close::after{
  content:"|";
  display: inline-block;
  transform: rotate(-45deg);
  transition: transform 1s ease-out;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: #FFECC8;
  }
}
