.container {
  padding: 0 2rem;
}

.header{
  margin-bottom:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App{
  background-color: #f8f8f8!important;
  color:black;
  min-height: 90vh;
}

.Directorio{
  
    background: rgb(253,187,45);
    background: -moz-linear-gradient(0deg, rgba(253,187,45,1) 7%, rgba(162,49,75,1) 47%, rgba(82,42,51,1) 72%, rgba(47,39,41,1) 93%);
    background: -webkit-linear-gradient(0deg, rgba(253,187,45,1) 7%, rgba(162,49,75,1) 47%, rgba(82,42,51,1) 72%, rgba(47,39,41,1) 93%);
    background: linear-gradient(0deg, rgba(253,187,45,1) 7%, rgba(162,49,75,1) 47%, rgba(82,42,51,1) 72%, rgba(47,39,41,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d",endColorstr="#2f2729",GradientType=1);
    min-height:90vh;
    color:black;

  font-family: 'Montserrat', sans-serif;
}
.avatar{
  width:50px;
  border-radius: 75px;
  height:50px;
}

.avatarFeatured{
  max-width:200px;
  max-height:150px;
  border-radius: 25px;
}
.formInputText{
  color:"#EE5967";
   display:"block";
}

.headings{
  color:black;
  letter-spacing: 0.4em;
}

.headingsGOALS{
  color:#f8f8f8;
}

.headingBig{
  color:black;
  letter-spacing: 0.3em;
  font-size: 3em;
  text-align: left;

  font-family: 'Montserrat', sans-serif;
}

.loginLinks{
  letter-spacing: 0.2em;
  cursor:pointer;
}

.loginLinks:hover{
  color:#3683ad;
}

.headings2{
  color:#ffffff;
  letter-spacing: 0.3em;
  text-align:center;

  font-family: 'Montserrat', sans-serif;
}

.headingsAbout{
  letter-spacing: 0.4em;
  margin-top:15%;
  font-size: 2em;

  font-family: 'Montserrat', sans-serif;
}

.paragraphs{
  color:#001f34;

  font-family: 'Montserrat', sans-serif;
}

.aboutContainer{
  min-height:110vh;
  background-color: #EB5867;

  font-family: 'Montserrat', sans-serif;
}

.textSection{
  color:black;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding:1em;
  margin-top:20%;
}

.navbar-pink, .dropdown-menu{
  background-color: #010202 !important;
}

.dropdown-menu{
  border-radius: 0!important;
}

.navbar-pink{
  color:grey !important;
}

.btn-black{
  border-radius:0!important;
  background-color: #343434!important;
}

.title{
  color:black;
}

.titleDiv{
  min-height:100vh;
  padding: 2em;
  text-align:left;
  padding-top:15%;
  background: rgb(248,248,248);
background: -moz-linear-gradient(180deg, rgba(248,248,248,1) 50%, rgba(235,88,103,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(248,248,248,1) 50%, rgba(235,88,103,1) 100%);
background: linear-gradient(180deg, rgba(248,248,248,1) 50%, rgba(235,88,103,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8f8",endColorstr="#eb5867",GradientType=1);
}

.featuredPanas{
  min-height:50vh;
  padding: 2em;
  text-align:center;
}

.searchD{
  min-height:80vh;
  padding: 2em;
  text-align:center;
}

.margintops{
  margin-top:25%;
}

.about{
  color:black;
  background-color: #fad288;
  margin-bottom:5%;
  text-align: left;
}

.about{
  color:rgb(117, 236, 242);
}

.about a:hover{
  color:#69a1c4;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.footer-dark {
  position: relative;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(212.00000000000006, 38.46%, 92.35%, 1.00);
  background-color: hsla(216, 0.00%, 0.00%, 0.20);
}

.footer-dark:small {
  padding-right: 15px;
  padding-left: 15px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title-small {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
}

.footer-link {
  margin-top: 12px;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(180, 182, 190, 0.75);
}

.footer-copyright-center {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color:black;
} 

.footer-divider{
  background-color: white;
}

.roundedCircle{
  border-radius: 50%;
  max-height:400px;
  max-width:400px;
  margin-bottom: 3rem;
  margin-left:25%;
}



.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #000000;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.landing{
  height:100vh;
  padding: 20% 0;
  background-color:#FFECC8;
  width:100%;
}



.about h1{
  margin-bottom: 1em;
}

.descriptionAbout{
  width:50%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 2em;
  text-align:center;
}

.callToAction{
  text-align:center;
  /* Created with https://www.css-gradient.com */
background: #BAEAFF;
background: -webkit-linear-gradient(top left, #BAEAFF, #33308C);
background: -moz-linear-gradient(top left, #BAEAFF, #33308C);
background: linear-gradient(to bottom right, #BAEAFF, #33308C);
  color:white;
  width:100%;
  padding: 2em 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width:"100%";
}


.cardStyle{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom:2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height:auto;
  max-height:100%;
  width:90%;

}


.GoalsDiv{
  
  background: rgb(253,187,45);
  background: -moz-linear-gradient(0deg, rgba(253,187,45,1) 7%, rgba(162,49,75,1) 47%, rgba(82,42,51,1) 72%, rgba(47,39,41,1) 93%);
  background: -webkit-linear-gradient(0deg, rgba(253,187,45,1) 7%, rgba(162,49,75,1) 47%, rgba(82,42,51,1) 72%, rgba(47,39,41,1) 93%);
  background: linear-gradient(0deg, rgba(253,187,45,1) 7%, rgba(162,49,75,1) 47%, rgba(82,42,51,1) 72%, rgba(47,39,41,1) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d",endColorstr="#2f2729",GradientType=1);
}

.giftGuide{
  background: rgb(47,39,41);
background: -moz-linear-gradient(0deg, rgba(47,39,41,1) 7%, rgba(248,248,248,1) 93%);
background: -webkit-linear-gradient(0deg, rgba(47,39,41,1) 7%, rgba(248,248,248,1) 93%);
background: linear-gradient(0deg, rgba(47,39,41,1) 7%, rgba(248,248,248,1) 93%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2729",endColorstr="#f8f8f8",GradientType=1);
}

.giftguideimage{
  border-radius: 15px;
  max-width:80%;
  max-height:305px;
  height: auto;
  margin-left:10%;
}

.cardStyleGOALS{
  border-radius: 15px;
  box-shadow: rgba(208, 208, 208, 0.35) 0px 5px 15px;
  margin-bottom:2%;
}

.cardStyleGOALS h3{
  color:#BF585A;
}


.logo {
  height: 2em;
  margin-left: 0.5rem;
  margin-bottom:0.5rem;
}

.imgs{
  width:"50px"
}

.igButton{
  margin: 0 auto;
  background-color:"#FFECC8"!important;
  color:"#011D34"!important;
}

@media (max-width: 600px) {

  .grid {
    width: 100%;
    flex-direction: column;
    margin-left:7%;
  }
  .giftguideimage{
    margin-left:20%;
  }



}


@media only screen and (max-width: 800px) {
  .margintops{
    margin-top:55%;
  }
  .igButton{
    margin-left:0!important;
  }


  
}