.App{
    background-color: #FFECC8!important;
    color:black;
  }

.container{
    width:80%;
    margin: 0 auto;
}

.avatar{
  width:100px;
  border-radius: 50px;
}

.socialLink{
  margin-right: 10px;
}

.form{
  font-size: 0.8em;
  
}