.App{
    background-color: #f6f6f6!important;
    color:black;
  }

.container{
    width:80%;
    margin: 0 auto;
}

.avatar{
  width:100px;
  border-radius: 50px;
}

.socialLink{
  margin-right: 10px;
  cursor: pointer;
}
.socialLink:hover{
  color:#5FA0BF;
}

.form{
  font-size: 0.8em;
  
}

.cardStyle{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.galleryImages{
  width:200px;
  height:200px;
  border-radius: 15px;
}