.App{
    background-color: #f6f6f6!important;
    color:black;
  }

.container{
    width:80%;
    margin: 0 auto;
}

.avatar{
  width:150px;
  border-radius: 75px;
  border: 10px solid white;
}

.socialLink{
  margin-right: 10px;
  cursor: pointer;
}
.socialLink:hover{
  color:#5FA0BF;
}

.form{
  font-size: 0.8em;
  
}

.banner{
  height:250px;
}

.bannerImage{
  width:100%;
  height:100%;
}

.avatarStyle{
  text-align: center;
  margin-top: -15%;
}

.cardStyle{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom:2%;
}

.galleryImages{
  width:200px;
  height:200px;
  border-radius: 15px;
}